.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 80px;
    padding: 60px 0;
}
.footerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footerLeft{
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
}
.footerRight{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
}
.footerRightItems{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 25px;
    max-width: 240px;
    width: 100%;
    h3{
        font-weight: 600;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;
        width: 100%;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            width: 100%;
            a{
                text-align: start;
                width: 100%;
            }
            span{
                &:last-of-type{
                    display: flex;
                    flex-direction: column;
                    font-weight: 600;  
                }
            }
        }
    }
    &:first-of-type{
        max-width: 100px;
    }
    &:last-of-type{
        ul{
            li{
                align-items: start;
            }
        }
    }
}
.footerBottom{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 250px;
    padding-top: 30px;
    border-top: 1px solid #E5E7EB;
    span{
        color: #6B7280;
    }
}
.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

@media(max-width: 900px){
    .footerContainer{
        flex-direction: column;
        gap: 50px;
    }
    .footerRight{
        justify-content: space-between;
        gap: 10px;
    }
    .footerRightItems{
        width: 100%;
        max-width: none;
    }
}
@media(max-width: 740px){
    .footerRight{
        flex-direction: column;
        gap: 25px;
    }
    .footerBottom{
        flex-direction: column;
        gap: 15px;
    }
    .footerRightItems ul li span:last-of-type{
        flex-direction: row;
        gap: 15px;
    }
    .footerBottom span{
        text-align: center;
    }
}
