.homeabout{
    padding: 55px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &>h3{
        font-size: 48px;
        line-height: 56px;
        font-weight: 800;
        width: 50%;
        text-align: center;
    }
    &>p{
        color: #6D6D6D;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 2%;
        width: 70%;
    }
}
.homeaboutitem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.homeaboutitemlist{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
    &:nth-of-type(2){
        flex-direction: column-reverse;
    }
}
.homeaboutitemlistnumbersbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.homeaboutitemlistnumbers{
    background: #FFFFFF;
    box-shadow: 8px 8px 16px rgba(48, 48, 48, 0.05), inset 4px 8px 16px rgba(48, 48, 48, 0.05);
    border-radius: 8px;
    padding: 25px 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &>span{
        color: #4F4F4F;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
        &:first-of-type{
            color: #199800;
            font-size: 72px;
            line-height: 90px;
        }
        &:last-of-type{
            color: #888888;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
.homeaboutitemlistimg{
    width: 100%;
    height: 100%;
    &>img{
        position: inherit !important;
        border-radius: 8px;
    }
    &:nth-of-type(2){
        &>img{
            height: 360px !important;
        }
    }
}
.green{
    color: #199800;
}

@media(max-width: 1153px){
    .homeaboutitemlistnumbers{
        width: 250px;
    }
}
@media(max-width: 1060px){
    .homeaboutitem{
        flex-direction: column;
    }
    .homeaboutitemlistnumbersbox,
    .homeaboutitemlistnumbers{
        width: 100%;
    }
    .homeaboutitemlist{
        &:first-of-type,
        &:last-of-type{
            flex-direction: column-reverse;
        }
    }
}
@media (max-width: 740px) {
    .homeaboutitemlistnumbers > span{
        font-size: 16px;
        line-height: 20px;
    }
    .homeaboutitemlistnumbers > span:first-of-type{
        font-size: 56px;
        line-height: 64px;
    }
    .homeabout > p,
    .homeabout > h3{
        width: 100%;
    }
}
@media (max-width: 400px){
    .homeabout > h3{
        font-size: 36px;
        line-height: 48px;
    }
    .homeabout > p{
        font-size: 16px;
        line-height: 20px;
    }
    .homeaboutitemlistnumbers{
        padding: 10px;
        span:last-of-type{
            font-size: 14px;
            line-height: 16px;
        }
    }
}
